@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-["Alexandria"];
  }
  .wrapper {
    @apply mx-auto max-w-[95%] md:max-w-[87%] lg:max-w-[85%];
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
